<!DOCTYPE html>
<html lang="id">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Login</title>
  </head>
  <!--
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-mortarboard-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"
        />
        <path
          d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"
        />
      </svg>
      <a class="navbar-brand" href="#">eSchool</a>
      <!--<button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Iphone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Android</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PMB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kontak Kami</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>-->

  <!-- kotak login -->
  <body>
    <!--<div class="main">
      <div class="navbar">
        <div class="icon">
          
          <h2 class="logo">eSchool</h2>
        </div>
        <div class="menu">
          <ul>
            <a href=""><li>Beranda</li></a>
            <a href=""><li>PMB</li></a>
            <a href=""> <li>Kontak Kami</li></a>
          </ul>
        </div>
      </div>
    </div>-->
    <div class="container">
      <span>
        <p class="h1">Selamat Datang</p>
        <p class="h2">di Sekolahan Demo</p></span
      >

      <form>
        <h1>MASUK</h1>
        <h2>ke eSchool Sekolah Demo</h2>
        <div class="input-box">
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
              /></svg>
            </span>
          <input type="text" required="required" />
          <span>Nama Pengguna</span>
          <i></i>
        </div>

        <div class="input-box">
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-lock-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"
              /></svg
          ></span>
          <input type="password" required="required" placeholder="" />
          <span>Password</span>
          <i></i>
        </div>

        <input type="submit" value="Login" />

        <div class="text">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="defaultCheck1"
            />
            <label class="form-check-label" for="defaultCheck1">
              Ingat Saya
            </label>
          </div>
          <a href="#">Lupa Password?</a>
        </div>
      </form>
    </div>
  </body>
</html>
